
<!--
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; color: #FFFFFF;  padding-right: 50px; padding-left: 50px}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; font-weight: bold; color: #FFFFFF; padding-right: 50px; padding-left: 50px}
.cent_sm {  font-size: 9pt; text-align: left; padding-right: 20px; padding-left: 20px}
body { cursor: crosshair; background-color: #000000}
a {  color: #CCCCFF; text-decoration: none; font-weight: bold;}
table {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; color: #FFFFFF; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; color: #FFFFFF}
li {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; color: #FFFFFF; list-style-type: none}
ul {  margin-right: 5em; margin-left: 5em}
.splash {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; color: #333333; background-position: center center}







-->
